:80 {
	# Rediriger tout le trafic vers Vikunja sur le port 3456
	reverse_proxy vikunja:3456

	# Optionnel : route spécifique pour Adminer
	handle_path /admin* {
		reverse_proxy adminer:8080
	}

	log {
		output stdout
		format json
	}
}

