apiVersion: apps/v1
kind: Deployment
metadata:
  name: adminer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: adminer
  template:
    metadata:
      labels:
        app: adminer
    spec:
      containers:
        - name: adminer
          image: adminer:latest
          ports:
            - containerPort: 8080
          env:
            - name: ADMINER_DEFAULT_SERVER
              value: "vikunja-database"
---
apiVersion: v1
kind: Service
metadata:
  name: adminer
spec:
  ports:
    - port: 8080
      targetPort: 8080
  selector:
    app: adminer
